/*From: https://codesandbox.io/s/7wq15pm1n1*/

.ReactPiano__Key--accidental{
    position: relative;
    float: left;
}

.ReactPiano__Keyboard {
    /* Used for absolute positioning of .ReactPiano__Key--accidental elements */
    position: relative;
    /* Used to lay out .ReactPiano__Key--natural elements */
    display: flex;
    float:left;
}

.ReactPiano__Key--accidental {
    background: #555555;
    border: 1px solid #888;
}

.ReactPiano__Key--natural {
    background: #F8F8F833;
    border: 1px solid #888;
    margin-right: 0;
}

.ReactPiano__Key--active.ReactPiano__Key--accidental {
    background: #333333;
}

.ReactPiano__Key--active.ReactPiano__Key--natural {
    background: #0396ca33;
}